<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">


      <div class="form-group" *ngIf="!isVideo; else videoAdded">
        <label>Wybierz film</label>
        <input type="file" id="fileVideo" (change)="handleVideoInput($event.target.files)" accept=".mp4">
        <button (click)="sendVideoFile()" class="btn btn-success">Wyślij film</button>
      </div>

      <ng-template #videoAdded><span class="text text-success"><b>Film został dodany</b></span></ng-template>

      <hr>

      <div class="form-group" *ngIf="!isPhoto; else photoAdded">
        <label>Wybierz zdjęcie</label>
        <input type="file" id="filePhoto" (change)="handlePhotoInput($event.target.files)" accept=".jpg, .png">
        <button (click)="sendPhotoFile()" class="btn btn-success">Wyślij zdjęcie</button>
      </div>

      <ng-template #photoAdded><span class="text text-success"><b>Zdjęcie zostało dodane</b></span></ng-template>


      <form (ngSubmit)="sendVideoToDB()" #f="ngForm">

          <div class="form-group">
            <label>Tytuł filmu</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="title"
              name="title"
              required>
          </div>

        <div class="form-group">
          <label>Opis</label>
          <textarea
            name="description"
            rows="3"
            class="form-control"
            [(ngModel)]="description"
            required></textarea>
        </div>
        <hr>

         <button class="btn btn-primary"
         type="submit" [disabled]="!f.valid || !isVideo || !isPhoto">Wyślij</button>
      </form>
    </div>
  </div>
</div>
