<div class="container-fluid">
  <app-horizontal-list-video [category]="'most-views'"></app-horizontal-list-video>
  <hr style="height: 2px; background-color:lightgray;" />
  <app-horizontal-list-video [category]="'most-likes'"></app-horizontal-list-video>
  <hr style="height: 2px; background-color:lightgray;" />
  <app-horizontal-list-video [category]="'most-dislikes'"></app-horizontal-list-video>
  <hr style="height: 2px; background-color:lightgray;" />
  <app-horizontal-list-video [category]="'latest'"></app-horizontal-list-video>
</div>
