<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <a routerLink="/video/{{videoInformation.id}}">
    <img src="{{videoInformation.photoUrl}}" width="200px" height="200px" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
  </a>

  <span class="text-center" class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><b>{{videoInformation.title}}</b></span>
  <span class="text-center" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{videoInformation.description}}</span>

  <a routerLink="/user/{{videoInformation.userId}}">
    <span class="text-primary text-right col-lg-9 col-md-9 col-sm-9 col-xs-9">{{videoInformation.firstName + " " +videoInformation.lastName}}</span>
  </a>

  <span class="text-right col-lg-9 col-md-9 col-sm-9 col-xs-9">{{videoInformation.display}} wyświetleń</span>
  <span class="text-right col-lg-9 col-md-9 col-sm-9 col-xs-9">{{videoInformation.date}}</span>
</div>
