<div class="container-fluid">

  <div class="col-lg-12">
    <div *ngIf="userEmail; else logged">
      <p class="text-center text-info">Zalogowany jako:</p>
      <p class="text-center">{{userEmail}}</p>
    </div>
    <ng-template #logged><span class="text text-center text-danger"><b>Nie jesteś zalogowany</b></span></ng-template>
    <hr>
  </div>


  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button class="btn btn-danger col-lg-12 col-md-12 col-sm-12 col-xs-12">Wyszukiwarka</button>
    <button class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12">Subskrypcje</button>
    <button class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12">Historia</button>
    <button class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12">Najlepsze filmy</button>
    <button class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12">Polubione filmy</button>
  </div>

  <<div class="col-lg-12">
  <hr>
  <p class="text-center text-primary">Obserwowane kanały:</p>
  </div>

</div>

